(
    a0_input: "30",
    a1_input: "20",
    a2_input: "10",
    a3_input: "1.00",
    a4_input: "0.50",
    modifiers: [
        (
            name_input: "heavyweight coated180g",
            applies_a0: false,
            a0_price_input: "",
            applies_a1: false,
            a1_price_input: "",
            applies_a2: true,
            a2_price_input: "2.50",
            applies_a3: true,
            a3_price_input: "5",
            applies_a4: true,
            a4_price_input: "5",
        ),
        (
            name_input: "satin foto 240g",
            applies_a0: true,
            a0_price_input: "1.00",
            applies_a1: true,
            a1_price_input: "1.00",
            applies_a2: true,
            a2_price_input: "1.00",
            applies_a3: true,
            a3_price_input: "1.00",
            applies_a4: true,
            a4_price_input: "1.00",
        ),
        (
            name_input: "300 g",
            applies_a0: false,
            a0_price_input: "1.00",
            applies_a1: false,
            a1_price_input: "1.00",
            applies_a2: false,
            a2_price_input: "1.00",
            applies_a3: true,
            a3_price_input: "1.00",
            applies_a4: true,
            a4_price_input: "0.50",
        ),
        (
            name_input: "200 g",
            applies_a0: false,
            a0_price_input: "1.00",
            applies_a1: false,
            a1_price_input: "1.00",
            applies_a2: false,
            a2_price_input: "1.00",
            applies_a3: true,
            a3_price_input: "0.40",
            applies_a4: true,
            a4_price_input: "0.20",
        ),
        (
            name_input: "biotop 300g",
            applies_a0: false,
            a0_price_input: "1.00",
            applies_a1: false,
            a1_price_input: "1.00",
            applies_a2: false,
            a2_price_input: "1.00",
            applies_a3: true,
            a3_price_input: "1.50",
            applies_a4: false,
            a4_price_input: "1.00",
        ),
        (
            name_input: "biotop 160g",
            applies_a0: false,
            a0_price_input: "1.00",
            applies_a1: false,
            a1_price_input: "1.00",
            applies_a2: false,
            a2_price_input: "1.00",
            applies_a3: true,
            a3_price_input: "0.75",
            applies_a4: false,
            a4_price_input: "1.00",
        ),
    ],
    line_items: [
        (
            size: A3,
            modifier_index: None,
            sheets_input: "",
            sides_input: "",
        ),
        (
            size: A3,
            modifier_index: None,
            sheets_input: "2",
            sides_input: "4",
        ),
    ],
    cutting_enabled: false,
    discount_input: "",
    rounding_mode: r#None,
)