[
    (
        id: ("snmp-192.168.129.23"),
        ip_or_hostname: Some("192.168.129.23"),
        model: Some("Aficio MP 7502"),
        sys_object_id: Some("1.3.6.1.4.1.367.1.1"),
        snmp_address: Some((
            host: "192.168.129.23",
            port: 161,
        )),
        community: Some("public"),
        status: Online,
        last_seen: Some(1768827348),
    ),
    (
        id: ("snmp-192.168.129.25"),
        ip_or_hostname: Some("192.168.129.25"),
        model: Some("Aficio MP C4502A E-5300"),
        sys_object_id: Some("1.3.6.1.4.1.367.1.1"),
        snmp_address: Some((
            host: "192.168.129.25",
            port: 161,
        )),
        community: Some("public"),
        status: Online,
        last_seen: Some(1768827348),
    ),
]