[
    (
        id: ("snmp-192.168.129.23"),
        ip_or_hostname: Some("192.168.129.23"),
        model: Some("Aficio MP 7502"),
        sys_descr: Some("RICOH Aficio MP 7502 1.04 / RICOH Network Printer C model / RICOH Network Scanner C model"),
        sys_object_id: Some("1.3.6.1.4.1.367.1.1"),
        snmp_address: Some((
            host: "192.168.129.23",
            port: 161,
        )),
        community: Some("public"),
        status: Online,
        last_seen: Some(1775749150),
        profile_id: Some("ricoh-aficio-mp-7502"),
    ),
    (
        id: ("snmp-192.168.129.25"),
        ip_or_hostname: Some("192.168.129.25"),
        model: Some("Aficio MP C4502A E-5300"),
        sys_descr: Some("RICOH Aficio MP C4502A"),
        sys_object_id: Some("1.3.6.1.4.1.367.1.1"),
        snmp_address: Some((
            host: "192.168.129.25",
            port: 161,
        )),
        community: Some("public"),
        status: Online,
        last_seen: Some(1775749157),
        profile_id: Some("ricoh-aficio-mp-c4502"),
    ),
    (
        id: ("snmp-192.168.129.20"),
        ip_or_hostname: Some("192.168.129.20"),
        model: Some("Pro 8200S"),
        sys_descr: Some("RICOH Pro 8200S 1.13 / RICOH Network Printer C model / RICOH Network Scanner C model"),
        sys_object_id: Some("1.3.6.1.4.1.367.1.1"),
        snmp_address: Some((
            host: "192.168.129.20",
            port: 161,
        )),
        community: Some("public"),
        status: Online,
        last_seen: Some(1775749161),
        profile_id: Some("ricoh-pro-8200s"),
    ),
    (
        id: ("snmp-192.168.129.155"),
        ip_or_hostname: Some("192.168.129.155"),
        model: Some("Pro 8320S"),
        sys_descr: Some("RICOH Pro 8320S 1.19 / RICOH Network Printer C model / RICOH Network Scanner C model"),
        sys_object_id: Some("1.3.6.1.4.1.367.1.1"),
        snmp_address: Some((
            host: "192.168.129.155",
            port: 161,
        )),
        community: Some("public"),
        status: Online,
        last_seen: Some(1775749148),
        profile_id: Some("ricoh-pro-8320s"),
    ),
    (
        id: ("snmp-192.168.129.151"),
        ip_or_hostname: Some("192.168.129.151"),
        model: Some("Pro C7200S Light"),
        sys_descr: Some("RICOH Pro C7200S Light 7.16 / RICOH Network Printer C model / RICOH Network Scanner C model"),
        sys_object_id: Some("1.3.6.1.4.1.367.1.1"),
        snmp_address: Some((
            host: "192.168.129.151",
            port: 161,
        )),
        community: Some("public"),
        status: Online,
        last_seen: Some(1775749148),
        profile_id: Some("ricoh-pro-c7200s-light"),
    ),
]