(
    manufacturer: "ricoh",
    firmware: "m181.mib",
    counter_table: Some("ricoh-m184"),
    recording: (
        copies_bw: [
            ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 18]),
        ],
        copies_color: [
            ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 17]),
        ],
        prints_bw: [
            ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 61]),
        ],
        prints_color: [
            ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 60]),
        ],
    ),
    counters: (
        bw: [
            ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 18]),
            ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 61]),
        ],
        color: [
            ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 17]),
            ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 60]),
        ],
        total: [
            ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 10]),
        ],
    ),
    toner: (
        black: Some(([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 24, 1, 1, 5, 1])),
        cyan: Some(([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 24, 1, 1, 5, 2])),
        magenta: Some(([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 24, 1, 1, 5, 3])),
        yellow: Some(([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 24, 1, 1, 5, 4])),
    ),
    extra_poll_labels: [
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 10]),
            label: "Counter: Machine Total",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 200]),
            label: "Counter: Copy: Total",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 201]),
            label: "Counter: Copy: Black & White",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 202]),
            label: "Counter: Copy: Single/Two-color",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 203]),
            label: "Counter: Copy: Full Color",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 300]),
            label: "Counter: FAX: Total",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 301]),
            label: "Counter: FAX: Black & White",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 400]),
            label: "Counter: Print: Total",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 401]),
            label: "Counter: Print: Black & White",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 402]),
            label: "Counter: Print: Single/Two-col.",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 403]),
            label: "Counter: Print: Full Color",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 10]),
            label: "Counter: Machine Total",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 600]),
            label: "Total Prints: Full Color",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 601]),
            label: "Total Prints: Monocolor",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 602]),
            label: "Development: Color",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 603]),
            label: "Development: Black & White",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 604]),
            label: "Copier: Color",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 605]),
            label: "Copier: Black & White",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 606]),
            label: "Printer: Color",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 607]),
            label: "Printer: Black & White",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 608]),
            label: "Total Prints: Color",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 609]),
            label: "Total Prints: Black & White",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 610]),
            label: "Total Prints: Full Color A3",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 611]),
            label: "Total Prints: Full Color <= B4",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 612]),
            label: "Printer: Full Color",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 613]),
            label: "Printer: Monocolor",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 614]),
            label: "Total Prints: Full Color (GPC)",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 617]),
            label: "Total Prints: Specific Two-color",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 660]),
            label: "Total Prints: Full Color wo-sp2C",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 661]),
            label: "Total Prints: Monocolor wo-sp2C",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 662]),
            label: "Printer: Full Color wo-sp2C",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 620]),
            label: "Copier: Black & White",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 621]),
            label: "Copier: Single Color",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 622]),
            label: "Copier: Two-color",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 623]),
            label: "Copier: Full Color",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 630]),
            label: "Fax: Black & White",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 631]),
            label: "Fax: Single Color",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 640]),
            label: "Printer: Black & White",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 641]),
            label: "Printer: 1 or 2 Clr. Toner(s)",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 642]),
            label: "Printer: Full Color",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 644]),
            label: "Printer: Single Color",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 643]),
            label: "Printer: Two-color",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 650]),
            label: "From Storage: Black & White",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 651]),
            label: "From Storage: Single Color",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 652]),
            label: "From Storage: Two-color",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 653]),
            label: "From Storage: Full Color",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 700]),
            label: "Large Paper Prints: >= A3, DLT",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 701]),
            label: "No. of Printed Sides in Duplex",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 900]),
            label: "Total Jobs: All Applications",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 901]),
            label: "Total Jobs: Copier Application",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 902]),
            label: "Total Jobs: Fax Application",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 903]),
            label: "Total Jobs: Printer Application",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 904]),
            label: "Total Jobs: Scanner Application",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 905]),
            label: "Total Jobs: Storage Application",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 906]),
            label: "Total Jobs: Other Application",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 800]),
            label: "Counter: Machine Total",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 810]),
            label: "Copier: Full Color",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 811]),
            label: "Copier: Black & White",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 812]),
            label: "Copier: Single Color",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 813]),
            label: "Copier: Two-color",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 820]),
            label: "Printer: Full Color",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 821]),
            label: "Printer: Black & White",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 822]),
            label: "Printer: Single Color",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 823]),
            label: "Printer: Two-color",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 830]),
            label: "Fax: Black & White",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 831]),
            label: "Fax: Single Color",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 840]),
            label: "Large Paper Prints: >= A3, DLT",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 841]),
            label: "No. of Printed Sides in Duplex",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 850]),
            label: "Coverage: Color",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 851]),
            label: "Coverage: Black & White",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 852]),
            label: "Coverage: Color Print Page",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 853]),
            label: "Coverage: B/W Print Page",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 862]),
            label: "Total Prints: Full Color (GPC)",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 870]),
            label: "Counter: Transmission: Total",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 871]),
            label: "Counter: Transmission: B/W",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 872]),
            label: "Counter: Transmission: FAX",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 873]),
            label: "Counter: Transmission: Color Scan",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 874]),
            label: "Counter: Transmission: B/W Scan",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 854]),
            label: "Color Coverage & Distribution 1",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 855]),
            label: "Color Coverage & Distribution 2",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 2, 19, 5, 1, 9, 856]),
            label: "Color Coverage & Distribution 3",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 2, 3, 16]),
            label: "ricohNetNwNDSTreeName",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 2, 3, 17]),
            label: "ricohNetNwNDSTreeNameMaxLen",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 2, 4, 1]),
            label: "ricohNetMsnOperStatus",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 2, 4, 2]),
            label: "ricohNetMsnAdminStatus",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 2, 4, 3]),
            label: "ricohNetMsnMode",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 2, 4, 4]),
            label: "ricohNetMsnSwitch",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 2, 4, 5]),
            label: "ricohNetMsnComputerName",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 2, 4, 7]),
            label: "ricohNetMsnWorkGroupName",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 2, 4, 9]),
            label: "ricohNetMsnNumberOfPrinter",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 2, 4, 10, 1, 2, 1]),
            label: "ricohNetMsnPrinterName[1]",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 2, 4, 11]),
            label: "ricohNetMsnCurrentName",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 2, 4, 12]),
            label: "ricohNetMsnComputerNameMaxLen",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 2, 4, 13]),
            label: "ricohNetMsnSwitchCapability",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 2, 5, 1, 1, 1]),
            label: "ricohNetIPv6AdminStatus",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 2, 5, 1, 1, 2]),
            label: "ricohNetIPv6Mode",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 2, 5, 1, 1, 3]),
            label: "ricohNetIPv6ModeCapability",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 2, 5, 2, 1, 2, 1]),
            label: "ricohNetIPv6ManualAddress[1]",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 2, 5, 3, 1, 2, 1]),
            label: "ricohNetIPv6DefaultRouter[1]",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 1, 1]),
            label: "ricohNetIfSrvSnmpVersion",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 1, 2]),
            label: "ricohNetIfSrvAuthTrap",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 1, 3]),
            label: "ricohNetIfSrvSnmpMaxCommunity",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 1, 5, 1, 2, 1]),
            label: "ricohNetIfSrvSnmpCommunityName[1]",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 1, 5, 1, 3, 1]),
            label: "ricohNetIfSrvSnmpCommunityAddress[1]",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 1, 5, 1, 4, 1]),
            label: "ricohNetIfSrvSnmpCommunityType[1]",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 1, 5, 1, 5, 1]),
            label: "ricohNetIfSrvSnmpCommunityPtot[1]",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 1, 5, 1, 6, 1]),
            label: "ricohNetIfSrvSnmpCommunityIPXAddress[1]",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 1, 5, 1, 7, 1]),
            label: "ricohNetIfSrvSnmpCommunityIPv6Address[1]",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 1, 7]),
            label: "ricohNetIfSrvSnmpProtocol",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 1, 8]),
            label: "ricohNetIfSrvSnmpRemoteSet",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 1, 9]),
            label: "ricohNetIfSrvSnmpTrapVersion",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 1, 10]),
            label: "ricohNetIfSrvSnmpTrapVersionCapability",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 1, 11]),
            label: "ricohNetIfSrvSnmpTrapMode",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 1, 12]),
            label: "ricohNetIfSrvSnmpTrapTimes",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 1, 20, 1]),
            label: "ricohNetIfSrvSnmpV3AuthAlgorithm",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 1, 20, 2]),
            label: "ricohNetIfSrvSnmpV3AuthAlgorithmCapability",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 1, 20, 3]),
            label: "ricohNetIfSrvSnmpV3MaxTrap",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 1, 20, 4, 1, 2, 1]),
            label: "ricohNetIfSrvSnmpV3TrapUserName[1]",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 1, 20, 4, 1, 3, 1]),
            label: "ricohNetIfSrvSnmpV3TrapIpAddress[1]",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 1, 20, 4, 1, 4, 1]),
            label: "ricohNetIfSrvSnmpV3TrapIPXAddress[1]",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 1, 20, 4, 1, 5, 1]),
            label: "ricohNetIfSrvSnmpV3TrapProtocol[1]",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 1, 20, 4, 1, 6, 1]),
            label: "ricohNetIfSrvSnmpV3TrapIPv6Address[1]",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 1, 20, 5]),
            label: "ricohNetIfSrvSnmpV3PrivAlgorithm",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 1, 20, 6]),
            label: "ricohNetIfSrvSnmpV3PrivAlgorithmCapability",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 2, 1]),
            label: "ricohNetIfSrvUrlMaxUrl",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 2, 2, 1, 2, 1]),
            label: "ricohNetIfSrvUrlName[1]",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 2, 2, 1, 3, 1]),
            label: "ricohNetIfSrvUrlLink[1]",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 2, 2, 1, 4, 1]),
            label: "ricohNetIfSrvUrlNameMaxLen[1]",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 2, 2, 1, 5, 1]),
            label: "ricohNetIfSrvUrlLinkMaxLen[1]",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 4, 1, 2, 1]),
            label: "ricohNetIfSrvWINSIpAddress[1]",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 4, 1, 2, 2]),
            label: "ricohNetIfSrvWINSIpAddress[2]",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 5, 1, 1, 2, 1]),
            label: "ricohNetIfSrvHostName[1]",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 5, 1, 1, 3, 1]),
            label: "ricohNetIfSrvCurrentHostName[1]",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 7, 3, 5, 1, 1, 4, 1]),
            label: "ricohNetIfSrvHostNameMaxLen[1]",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 9, 1, 1]),
            label: "ricohLocalIfDeviceModeCapability",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 9, 1, 2, 1]),
            label: "ricohLocalIfDevUsbAdminStatus",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 9, 1, 4, 1]),
            label: "ricohLocalIfDevCentroAdminStatus",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 9, 1, 5, 1]),
            label: "ricohLocalIfDevBluetoothAdminStatus",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 9, 2, 1]),
            label: "ricohLocalIfServiceModeCapability",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 9, 2, 2, 1]),
            label: "ricohLocalIfSrvDPSAdminStatus",
        ),
        (
            oid: ([1, 3, 6, 1, 4, 1, 367, 3, 2, 1, 9, 2, 3, 1]),
            label: "ricohLocalIfSrvSBP2AdminStatus",
        ),
    ],
)

